<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DateServlet</servlet-name>
    <servlet-class>servlet.DateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FirstOrganization</servlet-name>
    <servlet-class>servlet.FirstOrganizationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondOrgnizationServlet</servlet-name>
    <servlet-class>servlet.SecondOrgnizationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThirdOrganizationServlet</servlet-name>
    <servlet-class>servlet.ThirdOrganizationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FirstPostServlet</servlet-name>
    <servlet-class>servlet.FirstPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondPortServlet</servlet-name>
    <servlet-class>servlet.SecondPortServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThirdPostServlet</servlet-name>
    <servlet-class>servlet.ThirdPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>STestServlet</servlet-name>
    <servlet-class>servlet.STestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DateServlet1</servlet-name>
    <servlet-class>servlet.DateServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateExamServlet</servlet-name>
    <servlet-class>servlet.CreateExamServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateExamServlet1</servlet-name>
    <servlet-class>servlet.CreateExamServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateExamServlet2</servlet-name>
    <servlet-class>servlet.CreateExamServlet2</servlet-class>
  </servlet>
  <filter>
    <filter-name>characterFilter</filter-name>
    <filter-class>filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>characterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DateServlet</servlet-name>
    <url-pattern>/DateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirstOrganization</servlet-name>
    <url-pattern>/FirstOrganization</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondOrgnizationServlet</servlet-name>
    <url-pattern>/SecondOrgnizationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThirdOrganizationServlet</servlet-name>
    <url-pattern>/ThirdOrganizationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirstPostServlet</servlet-name>
    <url-pattern>/FirstPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondPortServlet</servlet-name>
    <url-pattern>/SecondPortServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThirdPostServlet</servlet-name>
    <url-pattern>/ThirdPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>STestServlet</servlet-name>
    <url-pattern>/STestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DateServlet1</servlet-name>
    <url-pattern>/DateServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateExamServlet</servlet-name>
    <url-pattern>/CreateExamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateExamServlet1</servlet-name>
    <url-pattern>/CreateExamServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateExamServlet2</servlet-name>
    <url-pattern>/CreateExamServlet2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/dispatcher.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CampusServlet</servlet-name>
    <servlet-class>servlet.CampusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectCamServlet</servlet-name>
    <servlet-class>servlet.SelectCamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CampusServlet</servlet-name>
    <url-pattern>/CampusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCamServlet</servlet-name>
    <url-pattern>/SelectCamServlet</url-pattern>
  </servlet-mapping>
</web-app>